
* {
    text-align: center;
    padding-top: 25px;
}

body {
    background-color: rgb(166, 223, 183)
}

.hidden {
    display: none;
}

.float-container {
    border: 3px solid #fff;
    padding: 20px;
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
    border: 2px solid red;
}  
